input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid green;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid green;
}

html {
  background-color: black;
}

.banner {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: auto;
}
