*{
    padding: 0;
    border: 0;
    margin: 0;
}

.parallax,.parallax-1,.parallax-2,.parallax-3,.parallax-4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.parallax-3{
    background-image: url(https://images.unsplash.com/photo-1614273658284-5e45cf4a04b1?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;
}