* {
  padding: 0;
  border: 0;
  margin: 0;
}

.parallax-static {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 80vh;

  /* width: 50vh; */
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-text-left {
  animation: slideInLeft 1.5s ease forwards;
}

.ParallaxMultiLayer {
  transition: 1s;
}
.glass {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.glass-green {
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-text-right {
  animation: slideInRight 1.5s ease forwards;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-text-top {
  animation: slideInTop 1.5s ease forwards;
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-text-bottom {
  animation: slideInBottom 1.5s ease forwards;
}

.star {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 999;
}

/* html,
body {
  padding: 0;
  margin: 0;
  background: #40255b;
} */

/* main {
  height: 300vh;
} */

p {
  font-family: helvetica, sans-serif;
  color: #eee;
}

.banner {
  height: 100vh;
}
main {
  padding: 0%;
  margin: 0;
  overflow: hidden;
  /* background: rgb(2, 0, 36); */

  /*background: linear-gradient(to bottom, #6510c7, #416beb); */

  /* background: linear-gradient(to bottom, #416beb, #8a10c7); */

  /* background-color: #2f3c7e; */

  /* background-color: #735da5; */

  background-color: black;

  /* background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%); */

  /* background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  ); */

  color: white;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.content {
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, and sans-serif;
}