* {
  padding: 0;
  border: 0;
  margin: 0;
}

.parallax-static {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-text-left {
  animation: slideInLeft 1.5s ease forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-text-right {
  animation: slideInRight 1.5s ease forwards;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-text-top {
  animation: slideInTop 1.5s ease forwards;
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-text-bottom {
  animation: slideInBottom 1.5s ease forwards;
}

.star {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 999;
}

/* html,
body {
  padding: 0;
  margin: 0;
  background: #40255b;
} */

.parallax {
  height: 300vh;
}

/* main {
  height: 300vh;
} */

p {
  font-family: helvetica, sans-serif;
  color: #eee;
}

.banner {
  height: 100vh;
  background: #bbe8f6;
}
